<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트팜:: 다이어트 건강식단 플랫폼</title>
        <style type="text/css">
        .m_modal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .m_modal .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        height:575px;
        width:380px;
                                
    }
    .modal-content > .modal-content_ctn {
        width: 330px;
        margin: 0 auto;
        height: 575px;
    }
    .m_modal .close {
        color: #aaa;
        font-size: 28px;
        float:right;
        cursor:pointer;
        margin-right:10px
    }
           @media screen and (max-width:1079px) {
                #header_mypage{position: fixed;
                                width: 100%;
                                top: 0;
                                height: 90px;
                                background-color: #fff;
                                z-index: 999;}
            }
            @media screen and (min-width:1080px) {
                .mobile_myinfo {
                    display: none;
                }
            }
        </style>
        <link rel="stylesheet" href="/css/myPage.css">

        <%-include(webroot + 'views/general/head') %>
<%-include(webroot + 'views/general/openGraph.ejs') %>
  
    </head>

    <body>

 <!-- //마이페이지 로그인 모달 시작 -->
     
        <article class="skip_menu">
            <a href="#">
                <span>바로가기1</span></a>
            <a href="#">
                <span>바로가기2</span></a>
            <a href="#">
                <span>바로가기3</span></a>
        </article>
        <div class="mobile_myinfo">
        </div>
        <!--//모바일 헤더 끝-->
        <main id="content" class="content" style="padding-top:60px">
            <div id="app">
                <%-include(webroot + 'views/general/header') %>
                <div class="myPage">
                    <div class="myPage01">
                        <% if (!isLoggedIn) { %>
                            <h3>로그인 해주세요.</h3>
                            <h4>신규 회원가입시 10,000P+무료배송 쿠폰 지급!</h4>
                        
                            <div class="mypage_btn">
                                <button type="button" class="btnMyPage" onclick="openMyModal()">로그인 / 회원가입</button>
                        
                            </div>
                        <% } else if (isLoggedIn) { %>
                            <ul style="border:none;">
                                <li style="font-size:16px;font-weight:bold;"><%=sessionUser.userName %>님</li>
                                <li>
                                    <a href="/myinfo-usercheck">내정보&nbsp;&nbsp;<img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></a>
                                </li>
                            </ul>
                        <% } %>
                    </div>
                    <div class="myPage01_2">
                        <a href="/invite">
                            <ul class="invite">
                                <li><img src="/images/gift_icon@2x.png">친구 초대</li>
                                <li>
                                    <a href="/invite" style="border-radius: 20px;
                                    background-color: #F99319;
                                    padding: 4px;
                                    color: #fff;
                                    padding-left: 10px;
                                    padding-right: 10px;">2,000P 받기</a>
                                    <img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px;left:12px">
                                </li>
                            </ul>
                        </a>
                        <a href="/benefits">
                            <ul style="border:none" class="benefits">
                                <li><img src="/images/gift_icon@2x.png">이벤트</li>
                                <li>
                                <a href="/benefits" style="border-radius: 20px;
                                background-color: #FF475E;
                                padding: 4px;
                                color: #fff;
                                padding-left: 14px;
                                padding-right: 10px">
                                혜택받기
                                
                                </a>
                                <img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px;left:12px">
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="myPage02">
                        <a href="/point">
                            <ul>
                                <li>포인트</li>
                                <li class="point-amount">
                                    <% if (isLoggedIn) { %>
                                        <span v-if=""></span>
                                    <% } %> &nbsp;&nbsp;<img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px">
                                </li>
                            </ul>
                        </a>
                        <a href="/coupon">
                            <ul style="border:none">
                                <li>쿠폰</li>
                                <li class="coupon-amount">
                                    <img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px">
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="myPage03">
                        <a href="/orderlist">
                            <ul>
                                <li>주문내역</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                        <a href="/delivery-status">
                            <ul>
                                <li>배송조회</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                        <a href="/delivery-management">
                            <ul>
                                <li>배송지 관리</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                        <a href="/p_review">
                            <ul>
                                <li>상품 리뷰</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                        <a href="/p_inquiry">
                            <ul>
                                <li>상품 문의</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                        <a href="/s_inquiry">
                            <ul style="border:none">
                                <li>판매자 문의 (주문건)</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                    </div>
                    <div class="myPage04">
                        <a href="/notice">
                            <ul>
                                <li>공지사항</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                        <a href="/faq">
                            <ul>
                                <li>FAQ</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                        <a href="/cs-center">
                            <ul>
                                <li>고객센터</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                        <a href="/alarm">
                            <ul style="border:none">
                                <li>알림설정</li>
                                <li><img src="/images/downarrow_ico_filter@2x.png" style="width:11px;height:11px;position:relative;top:4px"></li>
                            </ul>
                        </a>
                    </div>
                    <div class="myPage05">
                        <ul style="border:none;padding-bottom:42px">
                            <li><a href="javascript:kakaoLogout()">로그아웃</a></li>
                        </ul> 
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/mypage/signModal.js"></script>
        <script src="/js/mypage.js"></script>

        <%-include(webroot + 'views/general/footer') %>
    </body>
</html>