<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트팜:: 다이어트 건강식단 플랫폼</title>
        <link rel="stylesheet" href="/css/order.css"/>
        <%-include('general/head') %>
            <style type="text/css">
                @media screen and (max-width:1079px) {
                    .web_order_complete {
                        display: none;
                    }
                }
                @media screen and (min-width:1080px) {
                    .mobile_order_complete {
                        display: none;
                    }
                    #content{max-width:1080px;margin:0 auto;width:1080px}
                }
            </style>
        </head>

        <body>
            <div class="web_order_complete">
                <%-include('general/header') %>
                </div>

                <div class="mobile_order_complete">
                    <section class="detail_title">
                        <h2>주문완료</h2>
                        <div class="btnback">
                            <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px">
                            </a>
                        </div>
                    </section>
                </div>

                <input type="hidden" id="products" value="<%=JSON.stringify(orderDTO.products) %>">
                <main id="content" class="content">
                    <div class="order_complete_info">
                        <h3>주문이 완료되었습니다.</h3>
                        <div class="order_complete_wrap">
                            <table>
                                <thead>

                                </thead>
                                <tr class="order_no">
                                    <td>
                                        <span class="title">주문번호</span></td>
                                    <td class="bold">
                                        <%= orderDTO.orderNumber %>
                                        <a href="/ol_detail/<%=orderDTO.orderNumber %>"><div class="detail-button">상세보기 ></div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        <span class="title address">배송지</span>
                                    </td>
                                    <td colspan="2" style="line-height:24px">
                                        <span class="address bold"><%=orderDTO.delivery.address %></span><br>
                                        <span class="small"><%=orderDTO.delivery.userName %></span><span class="divider"></span><span class="small"><%=orderDTO.delivery.userCellNo%></span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="title">결제정보</span>
                                    </td>
                                    <td colspan="2">
                                        <ul>
                                            <li class="bold"><%=orderDTO.paymentName %></li>
                                            <li><%=orderDTO.cardName %> <%=orderDTO.cardNo %></li>
                                            <li>
                                                <% if( orderDTO.cardQuota == '00' ) { %>
                                                    일시불
                                                <% } else { %>
                                                    <%=orderDTO.cardQuota %>개월
                                                <% } %>
                                            </li>
                                            <li><%=orderDTO.paymentDate %></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="title">결제금액</span>
                                    </td>
                                    <td class="amount bold" colspan="2"><%=orderDTO.paidRealAmount %>원</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="title">포인트</span></td>
                                    <td class="point" colspan="2">
                                        <span class="amount bold"><%=orderDTO.accumulatePoint %>p</span><br>
                                        <span class="small">- 포인트는 구매확정 후 적립됩니다.</span>
                                    </td>
                                </tr>
                            </table>
                            <!--// <p style="text-align:center;color:#878787;margin-bottom:38px">- 포인트는 구매확정
                            후 적립됩니다.</p>-->
                        </div>
                    </div>
                    <div class="warn">
                        <p>- 동일 주문건이라도 2개 이상의 브랜드를 주문하신 경우 각각 개별 배송됩니다.</p>
                        <p>- 구매 확정 후 포인트가 지급되면 리뷰를 작성할 수 있습니다.<br>&nbsp;&nbsp;단, 구매 확정 후에는 교환/환불이 불가하오니 구매 확정은 신중히 부탁드립니다.</p>
                        <p>- 배송완료 후 영업일 기준, 7일이 지나도 구매확정이 되지 않으면 자동구매확정이 이루어집니다.</p>
                    </div>
                    <div class="btn_area">
                        <a href="/">
                            <button type="button" id="btnOrder">홈으로</button>
                        </a>
                    </div>
                </main>
                <script src="/js/orderComplete.js"></script>

            </body>
        </html>