<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>주문하기</title>
        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_order_info {
                    display: none;
                }
            .i_modal .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            position:absolute;
            left:410px;
            margin-top:10px
          
        }
        .modal-content h3{margin-left:15px}
            }
            @media screen and (min-width:1080px){
           .i_modal .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            position:absolute;
            left:740px;
          
        }
            }
            /* The Modal (background) */
            .i_modal{
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .i_modal .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            height:450px;
            width:380px;
                                     
        }
        /* The Close Button */
        
  
        .i_modal .close:hover,
        .i_modal .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

              /* The Modal (background) */
        .coupon_modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .coup_point h2{padding-left:15px}
        /* Modal Content/Box */
        .coupon_modal .modal-content {
            background-color: #fefefe;
            margin: 45% auto; /* 15% from the top and centered */
            height:auto;
            width:80%;
            padding-top:30px;
            padding-bottom:20px;
              
        }
        /* The Close Button */
        .coupon_modal .modal-content .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            position:absolute;
            left:420px;
            margin-top:-35px
          
        }
        .coupon_modal .modal-content .close:hover,
        .coupon_modal .modal-content .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        </style>
        <link rel="stylesheet" href="/css/style_web.css">
        <link rel="stylesheet" href="/css/myPage.css">
        <%-include('general/head') %>
        <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
        <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.1.min.js"
                type="application/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div class="web_order_info">
            <%-include('general/header') %>
        </div>
        <section class="detail_title">
            <h2>주문하기</h2>
            <script type="text/javascript">
                function goBack() {
                    window
                        .history
                        .back();
                }
            </script>
            <div class="btnback">
                <a href="#" value="취소" onclick="goBack()"><img src="images/leftarrow_ico_my.png" alt=""></a>
            </div>
        </section>
        <main id="content" class="order_info_content">
            <input type="hidden" id="deliveryGroupList" value="<%=deliveryGroupList %>">
            <input type="hidden" id="orderDTO" value="<%=orderDTO %>">

            <h3 class="order_title" style="margin-left:15px">주문상품<span class="web_num"></span></h3>
            <template v-for="(item, index) in deliveryGroupList">
                <div class="order_product">
                    <h4 v-if="item.brandName != ''">{{ item.brandName }}</h4>
                    <h4 v-if="item.brandName == ''">{{ item.companyName }}</h4>

                    <template v-for="product in item.products">
                        <div class="item" v-for="option in product.options">
                            <img v-bind:src="RESOURCE_SERVER + product.url">
                            <ul>
                                <li>{{ product.productName }}</li>
                                <li>{{ numberFormat(option.optionTotalPrice) }}</li>
                                <li>
                                    <span>수량 :
                                        {{ option.optionCount }}개</span></li>
                                <li>
                                    <span>옵션 :
                                        {{ option.optionDesc }}</span></li>
                            </ul>
                        </div>

                    </template>
                </div>

            </template>
            <div class="orderer_info">
                <h3><img src="images/asterisk.png">
                    주문자 정보
                </h3>
                <div class="members" v-if="orderDTO.userId != '비회원주문'">
                    <table>
                        <tr>
                            <td>
                                <span>보내는 분</span></td>
                            <td>{{ orderDTO.userName }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span>휴대폰</span></td>
                            <td>{{ orderDTO.userCellNo }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span>이메일</span></td>
                            <td>{{ orderDTO.userEmail }}</td>
                        </tr>
                    </table>
                </div>
                <div class="non_members" v-if="orderDTO.userId == '비회원주문'">
                    <h4>이름</h4>
                    <input type="text" id="unName" placeholder="이름을 입력해주세요">
                    <h4>휴대폰</h4>
                    <input type="number" id="unCellNo" placeholder="연락처를 입력해주세요">
                    <h4>이메일</h4>
                    <input type="email" id="unEmail" placeholder="이메일을 입력해주세요">
                </div>
            </div>
            <div class="deliver_info">
                <div class="deliver_info_top">
                <h3><img src="images/asterisk.png">
                   배송지
                </h3>
                <button type="button" id="myBtn" onclick="openInfoModal()">변경</button>
                </div>
                <div class="i_modal" id="iModal" style="display:none">
                     <div class="modal-content">  
                        <span class="close" onclick="closeInfoModal()">&times;</span>                                                      <!-- modal window -->
                               <h3>배송지 관리</h3>
                                    <div class="top_checkBox">
                                        <input
                                            type="checkbox"
                                            name="list"
                                            id="selectAll1"
                                            value="selectAll"
                                            onclick='selectAll(this)'>
                                        <label for="selectAll1">전체 선택</label>
                                        <button>선택 삭제</button>
                                    </div>
                                    <div class="thick_line one"></div>
            
                                    <div class="order_list_ctn">
                                        <template v-for="(item, i) in deliveryList">
                                            <section class="web_delivery_manage_list">
                                                <div class="del_mng_list_top">
                                                    <ul class="del_mng_type">
                                                        <li class="type_first">{{ item.addressName }}</li>
                                                        <li class="type_second" v-if="item.mainAddressYn == 'Y'">
                                                            <span class="tema">기본배송지</span></li>
                                                    </ul>
                                                    <ul class="edit_remove">
                                                        <template v-if="item.mainAddressYn == 'N'">
                                                            <li class="basic" v-on:click="changeMainAddress(i)">
                                                                <a>기본배송지로 설정</a>
                                                            </li>
                                                            <li class="small_line"><img src="/images/l_icon_category.png"></li>
                                                        </template>
                                                        <li class="edit_first">
                                                            <a v-on:click="modalDisplay(true, '배송지 수정', i)">수정</a>
                                                        </li>
                                                        <li class="small_line"><img src="/images/l_icon_category.png"></li>
                                                        <li class="edit_second">
                                                            <a v-on:click="deleteDelivery(i)">삭제</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="web_del_mag_list_info">
                                                    <div class="top_checkBox_piece">
                                                        <input type="checkbox" name="list" id="selectAll2" value="s">
                                                        <label for="selectAll2"></label>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <p class="address">{{ item.address }}</p>
                                                        </li>
                                                        <li>
                                                            <p class="customer_info">{{ item.userName }}
                                                                <span class="small_line"><img src="/images/l_icon_category.png"></span>{{ item.userCellNo }}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </section>
                                          </template>
                                       </div>
                                 </div>
                                 </div>
                  
                <div
                    class="members"
                    v-if="orderDTO.userId != '비회원주문' && orderDTO.delivery != undefined">
                    <span class="addr" style="margin-bottom:13px">{{ orderDTO.delivery.address }}</span><br>
                    <span class="name" style="margin-right:18px">{{ orderDTO.delivery.userName }}</span>
                    <span class="num">{{ orderDTO.delivery.userCellNo }}</span>
                </div>
                <div class="non_members" v-if="orderDTO.userId == '비회원주문' || orderDTO.delivery == undefined">
                    <p><input type="checkbox" class="required"  required="required"><label for="all"><span>주문자 정보와 동일</span></label></p>
                    <h4>이름</h4>
                    <input type="text" id="unReceiverName" placeholder="이름을 입력해주세요">
                    <h4>주소</h4>
                    <input
                        type="text"
                        id="unAddr"
                        maxlength="80"
                        placeholder="도로명, 지번, 건물명 검색" onclick="openZipSearch()" onkeydown="openZipSearch()">
                    <input type="text" id="unAddr2" maxlength="80" placeholder="상세주소" >
                    <h4>휴대폰</h4>
                    <input type="tel" id="unDeliveryUserCellNo" placeholder="연락처를 입력해주세요">
                </div>
                <h4>배송메모</h4>
                <select id="selectDeliveryDesc" v-on:change="descTypeChange()">
                    <option value="" selected="selected">배송메모를 선택해주세요</option>
                    <option value="">직접입력합니다.</option>
                    <option value="배송 전 미리 연락 바랍니다.">배송 전 미리 연락 바랍니다.</option>
                    <option value="부재시 경비실에 맡겨주세요.">부재시 경비실에 맡겨주세요.</option>
                    <option value="부재시 전화 또는 문자 주세요.">부재시 전화 또는 문자 주세요.</option>
                    <option value="빠른 배송 부탁드립니다.">빠른 배송 부탁드립니다.</option>

                </select>
                <div class="delivery_masg">
                    <input
                        type="text"
                        id="deliveryDesc"
                        disabled="disabled"
                        v-model="orderDTO.deliveryDesc"
                        style="vertical-align:top">
                </div>
            </div>
            <!--//배송지 정보-->
            <div class="coup_point">
                <div class="members">
                    <h3>쿠폰</h3>
                    <button id="cBtn" v-if="orderDTO.userId != '비회원주문' && orderDTO.userId != undefined" onclick="openCouponModal()">쿠폰을 선택해 주세요.</button>
                    <button id="cBtn" v-if="orderDTO.userId == '비회원주문' || orderDTO.userId == undefined">쿠폰을 사용하려면 로그인해주세요.</button>
                    <!--//모달창 시작-->
                    <div id="c_Modal" class="coupon_modal">
 
                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close" onclick="closeCouponModal()">&times;</span>                                                             <!-- modal window -->
                           <div class="coupon_web_top">
                                <input type="text" placeholder="쿠폰 코드를 입력해주세요">
                                <button type="button" class="coupon_enroll">쿠폰 등록</button>
                            </div>
                            <div class="coupon_table_top">
                                <ul>
                                    <li>날짜</li>
                                    <li>내용</li>
                                    <li>최소 사용금액</li>
                                    <li>할인</li>
                                    <li>상태</li>
                                </ul>
                            </div>
                                <div class=coupon_list>
                                    <ul>
                                        <template v-for="coupon in couponList">

                                        <li class="g_coupon">

                                            <div class="couponBox01">
                                                <h3>{{ coupon }}</h3>
                                                <p class="sale"><span>(11월 특별세일) 착한 소비 10% 할인</span></p>
                                                <p class="condition">1만원 이상 결제 시</p>
                                                <p class="range">2020-11-11 ~ 2020-12-11</p>
                                            </div>
                                            <div class="couponBox02">
                                                <a href="">
                                                    <img src="/images/c_icon_coupon@2x.png">
                                                    <p class="download">다운로드</p>
                                                  </a>
                                            </div>
                                        </li>
                                        </template>
                                        
                                    </ul>
                                </div>
                                <div class="couponBtn">
                                    <button type="button" id="modal_btn" class="cBtn">쿠폰 등록</button>
                                </div>
                                <div class="black_bg"></div>
                                <div class="modal_wrap">
                                    <div class="modal_close"><a href="#">close</a></div>
                                    <div>
                                        <h2>쿠폰 등록</h2>
                                        <input tpye="text">
                                        <button type="button" class="btn_enroll">등록</button>
                                    </div>
                                  </div>
                               </div>
                   
                      </div>
                    <!--//모달창 끝-->
                    <p>사용 가능 쿠폰 0장 / 전체 0장</p>
                    <h3>포인트</h3>
                    <div class="point_order">
                        <input type="number" v-model.number="orderDTO.paidPointAmount" v-on:keyup="pointChange()" v-on:focusout="pointChange()" min="0" value="0">
                        <button type="button" id="btnUse" v-on:click="useAllPoint()">모두 사용</button>
                    </div>
                    <p>사용 가능 포인트
                        {{ numberFormat(remainingPoint) }}원</p>
                </div>
            </div>
            <div class="final_price">
                <h3>최종 결제 금액</h3>
                <table class="final01">
                    <tr>
                        <td>
                            <span>상품 금액</span></td>
                        <td>{{ numberFormat(orderDTO.paymentTotalAmount) }}</td>
                    </tr>
                    <tr>
                        <td>
                            <span>상품 할인 금액</span></td>
                        <td>0원</td>
                    </tr>
                    <tr>
                        <td>
                            <span>배송비</span></td>
                        <td>{{ numberFormat(orderDTO.totalDeliveryCost) }}원</td>
                    </tr>
                    <tr>
                        <td>
                            <span>쿠폰 할인</span></td>
                        <td>{{ numberFormat(orderDTO.paidCouponAmount) }}원</td>
                    </tr>
                    <tr>
                        <td>
                            <span>포인트 사용</span></td>
                        <td>{{ numberFormat(orderDTO.paidPointAmount) }}원</td>
                    </tr>
                </table>
                <table class="final02">
                    <tr class="total_price">
                        <td class="total">
                            <span>총 결제 금액</span></td>
                        <td class="order_info_prc">{{ numberFormat(orderDTO.paidRealAmount) }}</td>
                    </tr>
                    <tr class="predict">
                        <td>
                            <span>예상 적립금</span></td>
                        <td>&nbsp;{{ numberFormat(orderDTO.accumulatePoint) }}원</td>
                    </tr>
                </table>
            </div>
            <!--//최종 결제 금액-->
            <div class="payment_method">
                <h3>결제 수단</h3>
                <div class="order_payment_point" v-if="orderDTO.paidRealAmount == 0">
                    <p>포인트 사용으로 남은 결제 금액이 0원입니다.</p>
                    <p>
                        <span>다른 결제 수단을 이용하시려면 포인트 금액을 수정해주세요.</span></p>
                </div>

                <div class="order_payment" v-if="orderDTO.paidRealAmount != 0">
                    <ul>
                        <li>
                            <label><img src="/images/npay_ico_pay.png" style="width:55px;height:22px"><input type="radio" @change="selectPayment" style="display: none;" v-model="paymentNo" value="1"></label>
                        </li>
                        <li>
                            <label><img src="/images/cash_ico2_pay.png" style="width:62px;height:22px"><input type="radio" @change="selectPayment" style="display: none;" v-model="paymentNo" value="2"></label>
                        </li>
                        <li>
                            <label><img src="/images/kpay_ico_pay.png" style="width:62px;height:22px"><input type="radio" @change="selectPayment" style="display: none;" v-model="paymentNo" value="3"></label>
                        </li>
                        <li>
                            <label><img src="/images/card_ico2_pay.png" style="width:62px;height:22px"><input type="radio" @change="selectPayment" style="display: none;" v-model="paymentNo" value="4"></label>
                        </li>
                        <li>
                            <label><img src="/images/phone_ico2_pay.png" style="width:62px;height:22px"><input type="radio" @change="selectPayment" style="display: none;" v-model="paymentNo" value="5"></label>
                        </li>
                    </ul>

                </div>
            </div>
            <!--//결제 수단-->
            <div class="terms">
                <h3 style="margin-left:15px;margin-top:25px"><input type="checkbox" class="required" id="agreementPay" required="required">
                    <label for="agreementPay"><span>위 구매조건 확인 및 결제진행 동의</span></label></h3>
                <p style="margin-left:15px;margin-right:15px;margin-top:11px;color:#6B6B6B">주문하는 상품의 품목, 가격, 배송정보 등을 전부 확인, 개인정보 제3자 동의에 관한 내용을 이해하였으며, 이에 동의합니다.</p>
            </div>
            <div class="order_btn">
                <button type="button" id="orderBtn" v-on:click="paymentAction">결제하기</button>
            </div>
        </main>

        <script src="/js/order.js"></script>
        <script>
            function openCouponModal() {
                console.log("click")
                $('#c_Modal').show();
            }

            function closeCouponModal() {
                console.log("click")
                $('#c_Modal').hide();
            }
            // Get the modal
            $(function () {

                var span = $(".close");                                       

                span.click(function() {
                    $('#c_Modal').hide();
                });
            })
        function openInfoModal() {
            console.log("click")
            $('#iModal').show();
        }

        function closeInfoModal() {
            console.log("click")
            $('#iModal').hide();
        }
        // Get the modal
        $(function () {

            var span = $(".close");                                       

            span.click(function() {
                $('#iModal').hide();
            });
        })
 </script>
     
        <%-include('general/footer') %>
    </body>
</html>