<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />
    <title>주문하기</title>
    <link rel="stylesheet" href="/css/style02.css">
    <link rel="stylesheet" href="/css/style.css">
    <style type="text/css">
 
 @media screen and (min-width:360px) and (max-width:1079px){
     .web_order_info{display:none}
     .non_members{display:none}
     .detail_title h2{font-size:16px;text-align:center;margin-top:42px} 
     .btnback img{width:17px;position:relative;top:-18px;left:5px}
     .order_title {font-size:14px;font-weight:bold;padding-left:15px}
     .order_product{border-bottom:8px solid #f1f1f1;}
     .order_product h4{font-size:14px;margin-top:20px;padding-bottom:10px;padding-left:15px;font-weight:normal}
     .order_product img{width:50px;height:62px;margin-right:15px}
     .order_product ul{font-size:12px;}
     .order_product ul li{margin-bottom:2px}
     .order_product ul li span{color:#878787}
     .item{border-top:1px solid #BBBBBB;padding-left:15px; padding-right: 15px}
     .item{display:flex;padding-top:15px;padding-bottom:13px}
     .orderer_info, .deliver_info{padding-left:15px;border-bottom:8px solid #f1f1f1}
     .orderer_info img{width:8px;position:relative;top:-2px}
     .deliver_info h3 img{width:8px;position:relative;top:-2px}
     .deliver_info p{float:right;position:relative;top:-35px;left:-20px;font-size:14px;font-weight:bold}
     .deliver_info p img{width:12px;position:relative;left:-2px}
     .orderer_info h3, .deliver_info h3, .final_price h3{padding-top:22px;font-size:14px;margin-bottom:18px}
     .orderer_info .members table{font-size:14px}
     .members table{width:70%;}
     .members tr td{padding-bottom:18px}
     .deliver_info .members{margin-bottom:20px}
     .members .addr{padding-bottom:18px;font-size:14px;}
     .members .name, .members .num{font-size:12px;color:#6B6B6B}
     .orderer_info h4, .deliver_info h4{font-size:14px;font-weight:bold;margin-bottom:4px}
     .orderer_info input, .deliver_info input{width:95%;height:45px;border-radius:5px;border:1px solid #BBBBBB;margin-bottom:18px;padding:10px}
     .orderer_info select{width:95%;height:30px}
     .coup_point h3{font-size:14px;font-weight:bold;margin-top:23px;padding-left:15px;margin-bottom:10px}
     .coup_point select{margin-left:15px}
     .coup_point p{font-size:12px;padding-left:15px;margin-top:10px}
     .coup_point input{width:70%;height:45px;border-radius:5px;border:none;border:1px solid #BBBBBB;margin-left:15px}
     .coup_point #btnUse{width:20%;height:45px;border:0;border:1px solid #EFA543;color:#EFA543;background-color:#fff;border-radius:5px}
     .final_price{border-bottom:8px solid #f1f1f1;padding-bottom:20px}
     .final_price h3, .payment_method h3{padding-left:15px}
     .final_price table{width:100%;}
     .final_price td{margin-top:15px}
      .final01 tr, .final02 tr{display:flex;justify-content:space-between;padding-left:15px;padding-right:15px;margin-bottom:4px;font-size:14px}
     .final01, .final02{border-top:1px solid #bbbbbb;}
     .final02{margin-top:20px}
     .total_price .total{font-size:16px;font-weight:bold}
     .order_info_prc{font-size:16px;font-weight:bold}
     .payment_method h3{font-size:16px;font-weight:bold;margin-top:24px;margin-bottom:10px}
     .order_payment{border-bottom:8px solid #f1f1f1;padding-bottom:18px}
     .order_payment ul{display:grid;grid-template-columns: repeat(2, 2fr);align-items: center;justify-self: center;margin:0 auto;padding-left:15px;padding-right:15px}
     .order_payment ul li{width:95%;height:45px;border:1px solid #BBBBBB;border-radius:5px;padding:5px;margin-bottom:10px}
     .order_payment img 
     {width:55px;height:22px;position:relative;left:65px;top:6px}
     .agreement h3{font-size:14px;font-weight:bold;margin-top:25px;padding-left:15px}
     .agreement h3 img{position:relative;top:4px;padding-right:10px}
     .agreement p{margin-left:44px;margin-right:44px;font-weight:normal;color:#6B6B6B;line-height:18px;font-size:12px;margin-top:11px;margin-bottom:25px}
     .order_btn{width:100%;padding-left:15px;margin-bottom:25px}
     #orderBtn{width:95%;height:45px;color:#fff;border:0;background-color:#EFA543;border-radius:5px}
     .web_num{display:none}
     
 }
/*주문하기 웹*/
@media screen and (min-width:1080px){
.detail_title{width:1080px;margin:0 auto;padding-top:200px}
 .detail_title .btnback{display:none}
 .detail_title h2{text-align:center;margin-top:55px;margin-bottom:40px}
 .order{width:1080px;margin: 0 auto}
    .order_title{width:1080px;font-size:18px;font-weight:bold;border-bottom:8px solid #f1f1f1;padding-bottom:20px}
    .order_title .web_num{color:#F99319;font-size:14px;margin-left:3px;position:relative;top:-4px}
    .order_product{border-bottom:8px solid #f1f1f1;}
    .order_product h4{font-size:14px;font-weight:bold;margin-top:15px;padding-bottom:15px}
    .order_product img{width:56.25px;height:62px;margin-top:16px;margin-left:10px;margin-bottom:15px}
    .item{display:flex;font-size:14px;margin-bottom:10px;border-top:1px solid #f5f5f5}
    .order_product ul{margin-top:20px;margin-left:13.5px}
    .orderer_info h3, .deliver_info h3{font-size:18px;font-weight:bold;margin-top:15px;padding-bottom:15px}
    .orderer_info, .deliver_info, .coup_point{border-bottom:8px solid #f1f1f1}
     .orderer_info .members table{font-size:14px}
     .members table{width:70%;}
     .members tr td{padding-bottom:18px}
     .deliver_info .members{margin-bottom:20px}
     .deliver_info select{width:394px!important}
     .members .addr{padding-bottom:18px;font-size:14px;}
     .members .name, .members .num{font-size:12px;color:#6B6B6B}
    .orderer_info h4, .deliver_info h4{font-size:14px;font-weight:bold;margin-bottom:4px}
     .orderer_info input, .deliver_info input{width:400px;height:45px;border-radius:5px;border:1px solid #BBBBBB;margin-bottom:18px;padding:10px}
     .orderer_info select{width:200px;height:30px}
    .non_members{display:none}
    .coup_point h3{font-size:14px;font-weight:bold;margin-top:20px;margin-bottom:10px;}
    .coup_point{padding-bottom:20px}
     .coup_point select{width:394px!important}
     .coup_point p{font-size:12px;;margin-top:10px}
     .coup_point input{width:308px;height:45px;border-radius:5px;border:none;border:1px solid #BBBBBB}
     .coup_point #btnUse{width:76px;height:45px;border:0;border:1px solid #EFA543;color:#EFA543;background-color:#fff;border-radius:5px}
    .final_price h3{font-size:16px;font-weight:bold;margin-top:20px;margin-bottom:18px;}
    .final_price table{width:100%;}
     .final_price td{margin-top:15px}
      .final01 tr, .final02 tr{display:flex;justify-content:space-between;padding-left:15px;padding-right:15px;margin-bottom:14px;font-size:14px}
    .final01{background-color:#F8F8F8}
     .final01, .final02{border-top:1px solid #E4E4E4}
     .final02{border-bottom:8px solid #f1f1f1}
     .total_price .total{font-size:16px;font-weight:bold}
     .order_info_prc{font-size:16px;font-weight:bold}
     .payment_method h3{font-size:16px;font-weight:bold;margin-top:24px;margin-bottom:10px}
     .order_payment{border-bottom:8px solid #f1f1f1;padding-bottom:18px}
     .order_payment ul{display:grid;grid-template-columns: repeat(5, 1fr);align-items: center;justify-self: center;margin:0 auto;}
     .order_payment ul li{width:95%;height:45px;border:1px solid #BBBBBB;border-radius:5px;padding:5px;margin-left: 2.5%;margin-bottom:10px}
     .order_payment img 
     {width:55px;height:22px;position:relative;left:65px;top:6px}
     .agreement h3{font-size:14px;font-weight:bold;margin-top:25px;padding-left:15px}
     .agreement h3 img{position:relative;top:4px;padding-right:10px}
     .agreement p{margin-left:44px;margin-right:44px;font-weight:normal;color:#6B6B6B;line-height:18px;font-size:12px;margin-top:11px;margin-bottom:25px}
     .order_btn{width:100%;text-align:center;margin-bottom:25px}
     #orderBtn{width:330px;height:45px;color:#fff;border:0;background-color:#EFA543;border-radius:5px;}
}
    </style>
    <%-include('general/head') %>
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.1.min.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="web_order_info">
        <%-include('general/header') %>
    </div>
     <section class="detail_title">
        <h2>주문하기</h2>
        <script type="text/javascript">
            function goBack() {
                window.history.back();
            }
        </script>
        <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="images/leftarrow_ico_my.png" alt=""> </a>
        </div>
    </section>
    <main id= "content" class="order_info_content">
        <input type="hidden" id="deliveryGroupList" value="<%=deliveryGroupList %>">
        <input type="hidden" id="orderDTO" value="<%=orderDTO %>">
        
        <h3 class="order_title">주문상품<span class="web_num">(3)</span></h3>
        <template v-for="(item, index) in deliveryGroupList">
            <div class="order_product">
                <h4 v-if="item.brandName != ''">{{ item.brandName }}</h4>
                <h4 v-if="item.brandName == ''">{{ item.companyName }}</h4>

                <template v-for="product in item.products">
                    <div class="item" v-for="option in product.options">
                        <img v-bind:src="RESOURCE_SERVER + product.url">
                        <ul>
                            <li>{{ product.productName }}</li>
                            <li>{{ numberFormat(option.optionTotalPrice) }}</li>
                            <li><span>수량 : {{ option.optionCount }}개</span></li>
                            <li><span>옵션 : {{ option.optionDesc }}</span></li>
                        </ul>
                    </div>

                </template>
            </div>
            
        </template>
        <div class="orderer_info">
            <h3><img src="images/asterisk.png"> 주문자 정보 </h3>
            <div class="members">
                <table>
                    <tr>
                        <td><span>보내는 분</span></td>
                        <td>{{ orderDTO.userName }}</td>
                    </tr>
                    <tr>
                        <td><span>휴대폰</span></td>
                        <td>{{ orderDTO.userCellNo }}</td>
                    </tr>
                        <tr>
                        <td><span>이메일</span></td>
                        <td>{{ orderDTO.email }}</td>
                    </tr>
                </table>
            </div>
            <div class="non_members">
            <h4>이름</h4>
            <input type="text" placeholder="이름을 입력해주세요">
              <h4>휴대폰</h4>
            <input type="number" placeholder="연락처를 입력해주세요">
              <h4>이메일</h4>
            <input type="email" placeholder="이메일을 입력해주세요">
            </div>
        </div>
        <div class="deliver_info">
            <h3><img src="images/asterisk.png"> 배송지 정보 </h3>
            <div class="members">
                <span class="addr">서울 강남구 테헤란로8길 11-4, 2층</span><br>
                <span class="name">박민지&nbsp;&nbsp;&nbsp;</span><span class="num">010-1234-5679</span>
            </div>
            <div class="non_members">
            <p><img src="images/beforecheck_icon_join.png">주문자 정보와 동일</p>
            <h4>이름</h4>
            <input type="text" placeholder="이름을 입력해주세요">
              <h4>주소</h4>
             <input type="text" id="addr" class="int" maxlength="80" placeholder="도로명, 지번, 건물명 검색">
             <input type="text" id="addr2" class="int" maxlength="80" placeholder="상세주소">
              <h4>휴대폰</h4>
            <input type="tel" placeholder="연락처를 입력해주세요">
             </div>
             <h4>배송메모</h4>
            <select style="width:95%;height:40px;border-radius:5px;border-color:#BBBBBB;padding:10px">
                <option>배송메모를 선택해주세요</option>
            </select>
            <input type="text" style="width:95%;height:80px;margin-top:8px">

        </div><!--//배송지 정보-->
          <div class="coup_point">
              <div class="members">
                  <h3>쿠폰</h3>
                  <select style="width:93%;height:40px;border-radius:5px;border-color:#BBBBBB;padding:10px">
                <option>쿠폰을 선택해 주세요</option>
                  </select>
                  <p>사용 가능 쿠폰 0장 / 전체 2장</p>
                  <h3>포인트</h3>
                  <input type="text">
                  <button type="button" id="btnUse">모두 사용</button>
                  <p>사용 가능 포인트 296원</p>
                  </div>
          </div>
          <div class="final_price">
              <h3>최종 결제 금액</h3>
                  <table class="final01">
                        <tr>
                            <td><span>상품 금액</span></td>
                            <td>{{ orderDTO.paymentTotalAmount }}</td>
                        </tr>
                        <tr>
                            <td><span>상품 할인 금액</span></td>
                            <td>0원</td>
                        </tr>
                        <tr>
                            <td><span>배송비</span></td>
                            <td>{{ orderDTO.totalDeliveryCost }}</td>
                        </tr>
                        <tr>
                            <td><span>쿠폰 할인</span></td>
                            <td>{{ orderDTO.paidCouponAmount }}원</td>
                        </tr>
                        <tr>
                            <td><span>포인트 사용</span></td>
                            <td>{{ orderDTO.paidPointAmout }}원</td>
                        </tr>
                    </table>
                       <table class="final02">
                        <tr class="total_price">
                            <td class="total"><span>총 결제 금액</span></td>
                            <td class="order_info_prc">147,200</td>
                        </tr>
                        <tr class="predict">
                            <td><span>예상 적립금</span></td>
                            <td>&nbsp;700원</td>
                        </tr>
                     </table>
            </div><!--//최종 결제 금액-->
            <div class="payment_method">
               <h3>결제 수단</h3>
                <div class="order_payment">
                    <ul>
                        <li><label><img src="/images/npay_ico_pay.png"><input type="checkbox" style="display: none;" v-model="paymentNo" value="1"></label>
                        </li>
                        <li><label><img src="/images/cash_ico2_pay.png"><input type="checkbox" style="display: none;" v-model="paymentNo" value="2"></label>
                        </li>
                        <li><label><img src="/images/kpay_ico_pay.png"><input type="checkbox" style="display: none;" v-model="paymentNo" value="3"></label>
                        </li>
                        <li><label><img src="/images/card_ico2_pay.png"><input type="checkbox" style="display: none;" v-model="paymentNo" value="4"></label>
                        </li>
                        <li><label><img src="/images/phone_ico2_pay.png"><input type="checkbox" style="display: none;" v-model="paymentNo" value="5"></label>
                        </li>
                    </ul>

                </div>
            </div><!--//결제 수단-->
            <div class="agreement">
                <h3><img src="images/beforecheck_icon_join.png">위 구매조건 확인 및 결제진행 동의</h3>
                <p>주문하는 상품의 품목, 가격, 배송정보 등을 전부 확인, 개인정보 제3자 동의에 관한 내용을 이해하였으며, 이에 동의합니다.</p>
            </div>
            <div class="order_btn">
                <button type="button" id="orderBtn">결제하기</button>
            </div>
    </main>

    <script src="/js/order.js"></script>
            <%-include('general/footer') %>
</body>
</html> 