<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트 Farm</title>
       <%-include('general/head') %>
            <link rel="stylesheet" href="/css/style.css">
            <!-- font awesome -->
            <link rel="stylesheet"
                href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
                integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
                crossorigin="anonymous"/>
        </head>

        <body>
            <%-include('general/header') %>
                <input type="hidden" id="listType" value="<%=listType %>">
                <% if(listType == 'CATEGORY') { %>
                    <input type="hidden" id="category1Code" value="<%=category1Code %>">
                    <input type="hidden" id="category2Code" value="<%=category2Code %>">
                    <% } else if (listType == 'EVENT') { %>
                        <input type="hidden" id="currentStandCode" value="<%=standCode %>">
                        <% } else if (listType == 'SEARCH') { %>
                            <input type="hidden" id="keyword" value="<%=keyword %>">
                        <% } %>
                        <main id="content" class="content">
                            <div class="main_sub_wrap">
                                <section class="main_sub">

                                    <% if( listTitle != '' ) { %>
                                        <h2><%=listTitle %></h2>
                                    <% } %>
                                    <form name="#" id="#" method="get" action="#">
                                        <div class="n_sort">
                                            <div class="sort">
                                                <select
                                                    name="#"
                                                    id="#"
                                                    class="formSelect"
                                                    style="background-color:#fff;border:0;font-size:12px">
                                                    <option value="gpa">추천순</option>
                                                    <option value="create_date">신상품순</option>
                                                    <option value="ranking">인기상품순</option>
                                                    <option value="discount_price">낮은 가격순</option>
                                                    <option value="discount_price desc">높은 가격순</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="sub_items">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                                                        <span>
                                                            <a class="like-Unlike" href="#"><img
                                                                src="/images/beforeheart_ico_main.png"
                                                                style="position:absolute;width:28px;margin-top:285px;margin-left:-47px"></a>
                                                        </span>
                                                    </div>
                                                    <div class="desc">
                                                        <p class="title">제품이름</p>
                                                        <ul>
                                                            <li class="sale">23,400원</li>
                                                            <li class="cost">26,000원</li>
                                                            <li class="ratio">10%</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                                                        <span>
                                                            <a class="like-Unlike" href="#"><img
                                                                src="/images/beforeheart_ico_main.png"
                                                                style="position:absolute;width:28px;margin-top:285px;margin-left:-47px"></a>
                                                        </span>
                                                    </div>
                                                    <div class="desc">
                                                        <p class="title">제품이름</p>
                                                        <ul>
                                                            <li class="sale">23,400원</li>
                                                            <li class="cost">26,000원</li>
                                                            <li class="ratio">10%</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                                                        <span>
                                                            <a class="like-Unlike" href="#"><img
                                                                src="/images/beforeheart_ico_main.png"
                                                                style="position:absolute;width:28px;margin-top:285px;margin-left:-47px"></a>
                                                        </span>
                                                    </div>
                                                    <div class="desc">
                                                        <p class="title">제품이름</p>
                                                        <ul>
                                                            <li class="sale">23,400원</li>
                                                            <li class="cost">26,000원</li>
                                                            <li class="ratio">10%</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                                                        <span>
                                                            <a class="like-Unlike" href="#"><img
                                                                src="/images/beforeheart_ico_main.png"
                                                                style="position:absolute;width:28px;margin-top:285px;margin-left:-47px"></a>
                                                        </span>
                                                    </div>
                                                    <div class="desc">
                                                        <p class="title">제품이름</p>
                                                        <ul>
                                                            <li class="sale">23,400원</li>
                                                            <li class="cost">26,000원</li>
                                                            <li class="ratio">10%</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                                                        <span>
                                                            <a class="like-Unlike" href="#"><img
                                                                src="/images/beforeheart_ico_main.png"
                                                                style="position:absolute;width:28px;margin-top:285px;margin-left:-47px"></a>
                                                        </span>
                                                    </div>
                                                    <div class="desc">
                                                        <p class="title">제품이름</p>
                                                        <ul>
                                                            <li class="sale">23,400원</li>
                                                            <li class="cost">26,000원</li>
                                                            <li class="ratio">10%</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                                                        <span>
                                                            <a class="like-Unlike" href="#"><img
                                                                src="/images/beforeheart_ico_main.png"
                                                                style="position:absolute;width:28px;margin-top:285px;margin-left:-47px"></a>
                                                        </span>
                                                    </div>
                                                    <div class="desc">
                                                        <p class="title">제품이름</p>
                                                        <ul>
                                                            <li class="sale">23,400원</li>
                                                            <li class="cost">26,000원</li>
                                                            <li class="ratio">10%</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>

                        </main>
                    
                    <%-include('general/footer') %>
                    <script src="/js/products.js"></script>
                    <script src="/js/index.js"></script>
                </body>
            </html>
