<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <style type="text/css">
        #mHeader .tab_cont {
            display: none;
            min-height: 360px;
        }

        #mHeader .tab_cont.active {
            display: block;
            background: #fff;
            position: absolute;
            width: 100%
        }

        nav a:nth-child(2) {
            color: #F99319;
        }

        nav a:nth-child(2).is-current~.nav-underline {
            left: 20%;}
     
    @media screen and (max-width:1079px) {.web_sub{display:none}}
            
    @media screen and (min-width:1080px){.mobile_sub{display:none} }
    </style>
    <%-include('general/head') %>
    <link rel="stylesheet" href="/css/style02.css">
    <!-- font awesome -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
<div class="web_sub">
    <%-include('general/header_web') %>
</div>
<div class="mobile_sub">
    <article class="skip_menu">
        <a href="#"><span>바로가기1</span></a>
        <a href="#"><span>바로가기2</span></a>
        <a href="#"><span>바로가기3</span></a>
    </article>
    <%-include('general/header') %>
</div>
    <input type="hidden" id="listType" value="<%=listType %>">
    <% if(listType == 'CATEGORY') { %>
        <input type="hidden" id="category1Code" value="<%=category1Code %>">
        <input type="hidden" id="category2Code" value="<%=category2Code %>">
    <% } else if (listType == 'EVENT') { %>
        <input type="hidden" id="currentStandCode" value="<%=standCode %>">
    <% } %>
    <main id="content" class="content">
        <div class="main_sub_wrap">
            <section class="main_sub">
                <h2>신메뉴</h2>
                <form name="#" id="#" method="get" action="#">
                    <div class="n_sort">
                        <div class="sort">
                            <select name="#" id="#" class=formSelect style="background-color:#fff;border:0;margin-top:10px;margin-bottom:10px;font-size:12px">
                                <option value="#">추천순</option>
                                <option value="#">신상품순</option>
                                <option value="#">인기상품순</option>
                                <option value="#">낮은 가격순</option>
                                <option value="#">높은 가격순</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="sub_items">
                    <ul>
                     <li>    
                       <a href="#">
                           <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                           </div>
                           <div class="desc">
                               <p class="title">제품이름</p>
                               <ul>
                                   <li class="sale">23,400원</li>
                                   <li class="cost">26,000원</li>
                                   <li class="ratio">10%</li>
                               </ul>
                           </div>
                           </a>
                      </li>
                      <li>    
                       <a href="#">
                           <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                           </div>
                           <div class="desc">
                               <p class="title">제품이름</p>
                               <ul>
                                   <li class="sale">23,400원</li>
                                   <li class="cost">26,000원</li>
                                   <li class="ratio">10%</li>
                               </ul>
                           </div>
                           </a>
                      </li>
                      <li>    
                       <a href="#">
                           <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                           </div>
                            <div class="desc">
                               <p class="title">제품이름</p>
                               <ul>
                                   <li class="sale">23,400원</li>
                                   <li class="cost">26,000원</li>
                                   <li class="ratio">10%</li>
                               </ul>
                           </div>
                           </a>
                      </li>
                      <li>    
                       <a href="#">
                           <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                           </div>
                            <div class="desc">
                               <p class="title">제품이름</p>
                               <ul>
                                   <li class="sale">23,400원</li>
                                   <li class="cost">26,000원</li>
                                   <li class="ratio">10%</li>
                               </ul>
                           </div>
                           </a>
                      </li>
                      <li>    
                       <a href="#">
                           <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                           </div>
                           <div class="desc">
                               <p class="title">제품이름</p>
                               <ul>
                                   <li class="sale">23,400원</li>
                                   <li class="cost">26,000원</li>
                                   <li class="ratio">10%</li>
                               </ul>
                           </div>
                           </a>
                      </li>
                      <li>    
                       <a href="#">
                           <div class="thum"><img src="/images/dietfarmbread.jpg" alt="">
                           </div>
                           <div class="desc">
                               <p class="title">제품이름</p>
                               <ul>
                                   <li class="sale">23,400원</li>
                                   <li class="cost">26,000원</li>
                                   <li class="ratio">10%</li>
                               </ul>
                           </div>
                           </a>
                      </li>
                       </ul>
                       </div>
            </section>
        </div>

    </main>

    <%-include('general/footer') %>

    <script src="/js/index.js"></script>

</body></html>