<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송지 관리, 다이어트팜:: 건강부터 쇼핑까지, 다이어트 토탈서비스</title>
    <style>
                
        /* The Modal (background) */
        .r_modal{
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .r_modal .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            height:575px;
            width:380px;
                                    
        }
        .modal-content > .modal-content_ctn {
            width: 330px;
            margin: 0 auto;
            height: 575px;
        }
        .r_modal .close {
            color: #aaa;
            font-size: 28px;
        }
        .deliver_magHeader > ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        /* The Close Button */


        .r_modal .close:hover,
        .r_modal .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        @media screen and (max-width:1079px) {
            .web_deliv {
                display: none;
            }
            .small_line{position:relative;top:-3px}
            .mobile_deliv{
                position: fixed;
                min-width: 360px;
                width: 100%;
                height: 80px;
                top: 0;
                background-color: #fff;
                z-index: 1;
                margin-bottom: 20px;
            }
            .r_modal .modal-content {
                background-color: #fefefe;
                height:575px;
                min-width: 330px;
                margin-top: 80px;                             
            }
            .contents{padding-top:90px}
        }
        @media screen and (min-width:1080px) {
            .mobile_deliv {
                display: none;
            }
            .small_line{position:relative;top:-6px}
            .contents{width:100%;margin-left:80px}
        }
    </style>
    <link rel="stylesheet" href="/css/myPage.css">
    <link rel="stylesheet" href="/css/style_web.css">

    <%-include(webroot + 'views/general/head') %>
    <%-include(webroot + 'views/general/openGraph.ejs') %>

    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>

</head>

<body>
    <div class="web_deliv">
        <%-include(webroot + 'views/general/header') %>
    </div>
    <div id="app">
        <div class="mobile_deliv">
            <section class="detail_title">
                <h2>배송지 관리</h2>

                <div class="btnback">
                    <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px">
                    </a>
                </div>
            </section>
        </div>
        <main>
        <!-- web main -->
        <input type="hidden" id="userId" value="<%=user.userId %>">
        <input type="hidden" id="userName" value="<%=user.userName %>">
        <mypage-component v-bind:total-point-amount="totalPointAmount"></mypage-component>
        
        <div class="mypage_content_wrap">
            <nav class="content_lnb">
            <ul>
                <li>
                    <a href="/orderlist">주문내역</a>
                </li>
                <li class="on" style="white-space:nowrap">
                    <a href="/delivery-management">배송지 관리</a>
                </li>
                <li>
                    <a href="/p_review">상품 리뷰</a>
                </li>
                <li>
                    <a href="/p_inquiry">상품 문의</a>
                </li>
                <li style="white-space:nowrap">
                    <a href="/s_inquiry">판매자 문의</a>
                </li>
                <li>
                    <a href="/point">포인트</a>
                </li>
                <li>
                    <a href="/coupon">쿠폰</a>
                </li>
            </ul>
            </nav>

            <div class="contents">
            <h3 class="del_web_title">배송지 관리</h3>
            <div class="order_list_null" v-if="deliveryList == undefined ||deliveryList.length == 0">
                <p class="no_review">등록된 배송지가 없습니다.</p>
            </div>
                <div class="order_list_ctn">
                <template v-for="(item, i) in deliveryList">
                    <section class="web_delivery_manage_list">
                        <div class="del_mng_list_top">
                            <ul class="del_mng_type">
                                <li class="type_first">{{ item.addressName }}</li>
                                <li class="type_second" v-if="item.mainAddressYn == 'Y'">
                                    <span class="tema">기본배송지</span></li>
                            </ul>
                            <ul class="edit_remove">
                                <template v-if="item.mainAddressYn == 'N'">
                                    <li class="basic" v-on:click="changeMainAddress(i)">
                                        <a>기본배송지로 설정</a>
                                    </li>
                                    <li class="small_line"><img src="/images/l_icon_category@2x.png"></li>
                                </template>
                                <li class="edit_first">
                                    <a v-on:click="onUpdateButtonClick(i)">수정</a>
                                </li>
                                <li class="small_line"><img src="/images/l_icon_category@2x.png"></li>
                                <li class="edit_second">
                                    <a v-on:click="deleteDelivery(i)">삭제</a>
                                </li>
                            </ul>
                        </div>
                        <div class="web_del_mag_list_info">
                                <ul>
                                <li>
                                    <p class="address">{{ item.address }}</p>
                                </li>
                                <li>
                                    <p class="customer_info">{{ item.userName }}
                                        <span class="small_line"><img src="/images/l_icon_category.png"></span>{{ item.userCellNo }}</p>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <div class="thick_line"></div>

                </template>

                <div class="page_wrap">
                    <div class="page_nation">
                        <a class="arrow pprev" href="#"></a>
                        <a class="arrow prev" href="#"></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                        <a class="arrow next" href="#"></a>
                        <a class="arrow nnext" href="#"></a>
                    </div>
                </div>
                <div class="btn_area_d">
                    <button class="btnRegister" id="myBtn" onclick="openRegisterModal()">배송지 등록</button>
                </div>
            </div>
            <!-- order_list_ctn -->
            </div>
        </div>
        <!-- body_contents -->
        <!-- modal window -->

        <delivery-register-modal v-if="deliveryRegisterModalShow" v-bind:delivery="delivery"></delivery-register-modal>
    </main>
    </div>
        
         
    <script src="/js/components/deliveryRegisterModalComponent.js"></script>
    <script src="/js/components/mypageComponent.js"></script>
    <script src="/js/deliveryManagement.js"></script>
    <%-include(webroot + 'views/general/footer') %>
</body>

</html>